body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'serif', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaflet-container {
    height: 38vh;
}

@media only screen and (min-width: 600px) {
    .leaflet-container {
        height: 80vh;
    }
}
